/* ==========================================================================
   #GROUP
   ========================================================================== */

.group {
    margin-bottom: 2em;
}
.group--majeur {
  // border-bottom: 2px solid $color-1;
  margin-bottom: 2em;
  // padding-bottom: 1em;
}
.group--mineur {
    margin-bottom: 2em;
}

.group--recherche {
    margin-bottom: 3em;
}



