/* ==========================================================================
   #ORBIT
   ========================================================================== */

#orbit-trt5,
#orbit-selection {
    list-style: none;
    overflow: hidden;
}

/* 
   #ORBIT-ACCUEIL
   ========================================================================== */
.orbit-accueil {
    background: $color-1;
    .orbit-container {
        .orbit-timer {top: 0;}
    }
}
    .orbit-accueil__nav {
        padding: 1em .5em;
        font-family: $font-reg;
        > a {
            margin-bottom: .5em;
            width: 50%;
            float: left;
            display: block;
            color: #000;
            &:before {
                width: 14px; 
                height: 14px;
                position: relative;
                top: 1px;
                content: " ";
                display: block;
                float: left;
                margin-right: .5em;
                border: 1px solid #fff;
                @include radius(1000px);
            }
            &:hover {
                color: #fff;
                &:before {
                    background-color: #fff;
                }
            }
            &.active {
                font-family: $font-bold;
                color: #fff;
                &:before {
                    background-color: #fff;
                }
            }
        }
    }
    .orbit-accueil__title {
        padding: 1em .5em 0;
        color: #000;
        font-size: rem-calc(20);
        font-weight: bold;
        font-style: italic;
        text-align: center;
    }
    .orbit-accueil__content {
        .article-resume {
            padding: 0 .5em;
        }
        .article__title {
            margin-bottom: 1em;
            font-family: $font-bold;
            font-size: rem-calc(24);
            color: #fff;
            text-align: center;
        }
        .article__desc {
            p {
                color: #fff;
            }
        }
    }

@media #{$small-only} {
    .orbit-accueil__nav {
        background-color: darken($color-1,5%);
    }
}
@media #{$medium-up} {
    .orbit-accueil__nav {
        padding-top: 1.7em;
        background-color: none;
        > a {
            float: none;
            width: auto;
        }
    }
    .orbit-accueil__title {
        padding: .7em 0 0;
        text-align: left;
    }
    .orbit-accueil__content {
        .article-resume {
            padding: 0;
        }
        .article__title {
            text-align: left;
        }
    }
}

/* 
   #ORBIT-RUBRIQUE
   ========================================================================== */

.orbit-rubrique {
    .resume-article {
        margin: 1em 1em 0;
    }
    .resume-article__title {
        font-size: rem-calc(30);
    }
    .orbit-container {
        background: $color-1;
        margin-bottom: 4em;
        .orbit-prev,
        .orbit-next {
            display: none;
        }
    }
    .orbit-bullets {
        > li {
            border: 2px solid #fff;
            &:hover {
                background: #fff;
            }
        }
    }
    .resume-article {
        a:hover {color: #fff;}
    }
    .resume-article__desc,
    .meta {
        color: #fff;
    }
}
