/* ==========================================================================
   #RESUMES
   ========================================================================== */

/* 
   #RESUME-ARTICLE
   ========================================================================== */
// .resume-article {}
.resume-article__title {
    font-size: rem-calc(16);
    font-weight: bold;
    // font-style: italic;
    a {
      color: #000;
      &:hover {
        color: $color-1;
      }
    }
}
.resume-article__desc {
    p {
        font-size: rem-calc(15);
    }
}

/* 
   #RESUME-RUBRIQUE
   ========================================================================== */
.resume-rubriques {
    margin-bottom: 3em;
}
.resume-rubrique__title {
    font-family: $font-bold;
    font-size: rem-calc(20);
    text-transform: none;
}
.resume-rubrique__desc {
    p {
        font-size: rem-calc(18);
    }
}

.more--sousrubrique {
    border-bottom: 1px dotted $color-2;
    padding-bottom: 2em;
    text-align: center;
    font-style: italic;
}
