/* ==========================================================================
   #RESUMES
   ========================================================================== */

/* 
   #RESUME-ARTICLE
   ========================================================================== */
// .resume-article {}
.resume-article__title {
    font-size: rem-calc(18);
    font-weight: bold;
    a {
      color: #000;
      &:hover {
        color: $color-1;
      }
    }
}
.resume-article__desc {
    p {
        font-size: rem-calc(15);
    }
}

/* 
   #RESUME-RUBRIQUE
   ========================================================================== */
.resume-rubriques {
    margin-bottom: 3em;
}
.resume-rubrique__title {
    font-family: $font-bold;
    font-size: rem-calc(20);
    text-transform: none;
}
.resume-rubrique__desc {
    p {
        font-size: rem-calc(18);
    }
}

.more--sousrubrique {
    border-bottom: 1px dotted $color-2;
    padding-bottom: 2em;
    text-align: center;
    font-style: italic;
}

/* 
   #RESUME-JOURNEE
   ========================================================================== */
.resume-journee {
  background-color: $color-3;
  padding: 0.5em 0.5em 0;
  margin-top: -0.3em;
  .section__titre {
    font-family: $font-bold;
    font-size: rem-calc(14);
    color: #fff;
  }
  .resume-article__title {
    a:hover {color: #fff;}
  }
}
.resume-journee__desc {
  p {
    font-size: rem-calc(18);
    color: #fff;
  }
}
.journee__date {
  color: #fff;
  font-size: rem-calc(18);
}

/* 
   #RESUME-ABOUT #RESUME-MEMBRES
   ========================================================================== */

// .resume-about {}
.resume-about__title,
.resume-membres__title {
  font-size: rem-calc(16);
  font-family: $font-bold;
  text-transform: uppercase;
}
// .resume-about__desc {}

.resume-membres {
  [class*="block-grid-"] > li {
    padding-bottom: 0;
    font-family: $font-reg;
  }
}

/* 
   #RESUME-RECHERCHE
   ========================================================================== */
.resume-recherche__title {
  font-family: $serif;
  font-size: rem-calc(18);
  font-weight: bold;
  a {
    color: #000;
    &:hover {
      color: $color-1;
    }
  }
}
.resume-recherche__desc {
  p {
      font-size: rem-calc(16);
    }
}
