/* ==========================================================================
   #MEDIAS
   ========================================================================== */

.medias {}
    .medias__img {
        float: left;
        margin-right: 1em;
    }
    .medias__body {
        overflow: hidden;
    }
