// ==========================================================================
// #SETTINGS
// ==========================================================================

// 
// #COULEURS
// ==========================================================================
 
$color-1: #d52b1e;  // rouge
$color-2: #adafaf;  // gris
$color-3: #ff6400; // #f5a623; // orange
$black: #000;     // noir

$success-color: #22a207;


/* color link */
$color-link: $color-1;
$color-link-hover: #000;

//
// #FONT
$serif: 'PT Serif','Gentium Book Basic', $georgia;
$sans: 'Source Sans Pro', $helvetica;
$font-base: $serif;
$font-reg: "Dinreg", $helvetica;
$font-bold: "Dinbold", $helvetica;
