// ==========================================================================
// #SETTINGS
// ==========================================================================

// 
// #COULEURS
// ==========================================================================
 
$color-1: #d52b1e;  // rouge
$color-2: #adafaf;  // gris
$black: #000;     // noir

/* color link */
$color-link: $color-1;
$color-link-hover: rgba($color-1,0.5);

//
// #FONT
$serif: 'PT Serif','Gentium Book Basic', $georgia;
$sans: 'Source Sans Pro', $helvetica;
$font-base: $serif;
$font-reg: "Dinreg", $helvetica;
$font-bold: "Dinbold", $helvetica;
