// ==========================================================================
// #SETTINGS
// ==========================================================================

// 
// #COULEURS
// ==========================================================================

$couleur-texte: #444;
$color-1:   #d52b1e;  // rouge
$couleur-1: #d52b1e;
$color-2:   #adafaf;  // gris
$couleur-2: #adafaf;
$color-3:   #ff6400; // #f5a623; // orange
$couleur-3: #ff6400;
$black:     #000;     // noir

$success-color: #22a207;


/* color link */
$color-link: $color-1;
$color-link-hover: #000;

$font-helvetica: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$font-georgia: Georgia, Cambria, "Times New Roman", Times, serif;
//
// #FONT
$serif: 'PT Serif', $font-georgia;
$font-base: $serif;
$font-reg: "dinreg", $font-helvetica;
$font-bold: "dinbold", $font-helvetica;
$font-light: "dinlight", $font-helvetica;
