///*------------------------------------*\
//    #COLORS
//\*------------------------------------*/

// couleur charte TRT-5
$color-r: #d52b1e;  // rouge
$color-g: #adafaf;  // gris
$color-b: #000;     // noir