/*============================
=            layout            =
============================*/


body,html{
    height:100%;
    width:100%;
}
.container {
    @include grid-row();
    padding-top: 2em;
}
.off-canvas-wrap,.inner-wrap{
    height:100%;   
}

/*-----  End of layout  ------*/

