/*===================================
=            #spip-admin            =
===================================*/

body {
    .spip-admin-bloc,
    .spip-admin-float {
        z-index: 99999; top: 10%; right: auto; left: -3%;
        @include transition(left 0.35s ease-in 0.1s);
        &:hover {
            left: 0;
        }
    }
}
#spip-admin .spip-admin-boutons {
    font:10px/1 $monospace;
    display: block;
    text-align: center;
    margin-bottom: 5px;
    border-radius: 5px 0 0 5px;
}

/*-----  End of #spip-admin  ------*/

