/* ==========================================================================
   #SELF
   ========================================================================== */
.self,
.self__header,
.self__title,
.self__meta,
.self__aside {
    margin-bottom: 2em;
}
.self__aside,
.self__meta {
    a {
        color: $color-2;
        &:hover {
            color: $color-1;
        }
    }
}

/* 
   #SELF__HEADER
   ========================================================================== */

.self__title {
    .hN {
        font-size: rem-calc(28);
        line-height: 1.2;
        color: #000;
    }
    .self-article & .titre  {}
    .soustitre {
        display: block;
        margin-top: 1em;
        font-size: rem-calc(15);
        line-height: inherit;
        font-style: italic;
        color: $couleur-2;
    }
    .surtitre {
        // border-bottom: 1px dotted $couleur-texte;
        margin-bottom: .5em;
        font-size: rem-calc(15);
        line-height: 1.4;
        font-style:italic;
        color: #000;
        // text-align: center;
    }
}

/* 
   #SELF__BODY
   ========================================================================== */

.self__body {
    .chapo {
        p,
        li {
            font-weight: 700;
        }
    }
    section {
        margin-bottom: 3em;
    }
    .ps {
        padding: 1em 1em .5em;
        background-color: rgba(#eee,0.5);
    }
}

.self-rubrique__texte {
    p {
        font-size: rem-calc(20);
    }
}


.resultats--total {
    font-weight: bold;
    font-size: rem-calc(18);
    color: $color-1;
}

/* 
   #MEDIA-QUERIES
   ========================================================================== */

@media #{$medium-only} {
    .self-article__texte,
    .self-article .ps,
    .self-article .notes {
        padding-right: 2em;
    }
}

@media #{$medium-up} {
    .self__title {
        .hN {
            font-size: rem-calc(32);
        }
        .soustitre {
            font-size: rem-calc(18);
        }
        .surtitre {
            font-size: rem-calc(18);
        }
    }
    .self__body {
        .chapo {
            p,
            li {
                font-size: rem-calc(18);
            }
        }
    }
}

@media #{$large-up} {
    .self-article {
        .self-article__texte,
        .ps,
        .notes {
            padding-right: 5em;
        }
    }
}