/* ==========================================================================
   #HEADER
   ========================================================================== */
.header {
    position: relative;
    padding: 4em 0 2em;
    margin-bottom: 2em;
    border-bottom: 1px solid $color-1;
    background-color: #fff;    
}
.slogan {
    text-align: center;
    font-family: 'dinmed';
    text-transform: uppercase;
    color: $black;
    .slogan-item1 {display: block;}
    .slogan-item2 {color: $color-1;}
    .slogan-item3 {color: $color-2;}
}
.slogan-container {position:inherit;}
.site-logo {
    display: block;
    width: 60%;
    margin: 0 auto 1.5em;
}
@media #{$medium-up} {
    .header {
        padding-top: 2em;
    }
    .site-logo {
        width: 100%;
        margin: 0;
    }
    .slogan-container {position: inherit;}
    .slogan {
        position: absolute;
        bottom: 2em;
        text-align: left;
    }
}