/* ==========================================================================
   #NAV
   ========================================================================== */

/* 
   #OFF-CANVAS
   ========================================================================== */

.off-canvas-wrap,
.inner-wrap{
    height:100%;   
}

.inner-wrap {
    &:before {
        position: absolute;
        z-index: 99;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        background: rgba(0,0,0,0.5);
        content: '';
        opacity: 0;
        @include transition(opacity .5s);
    }
    .move-left &:before {
        width: 100%;
        height: 100%;
        opacity: 1;
    }
}

/* 
   #SITE-NAV
   ========================================================================== */
.site-nav-container {
    padding-top: 2em;
}
    .site-nav {
        &,
        & ul {
            list-style: none;
        }
        padding-right: 1em;
        font-family: $font-reg;
    }
        .site-nav__item {
            display: block;
            > a {
                display: block;
                margin-bottom: 0.4em;
                line-height: 1.2em;
                color: rgba(#fff, 0.7);
                &:hover {
                    color: #fff;
                }
            }
            &.level--top {
                margin-bottom: 1em;
                > a {
                    text-transform: uppercase;
                }
            }
        }
        .site-nav__item--is-active {
            > a {
                color: #fff;
                font-family: $font-bold;
                font-weight: bold;
            }
        }

/*  .site-nav-open
    ========================================================================== */
    .site-nav-open {
        position: absolute;
        z-index: 90;
        right: 0;
        top: -3em;
        padding-right:0.9375rem;
    }
    @media #{$medium-up} {
        .site-nav-open {
            top: 0;
        }
    }
    .right-off-canvas-toggle {
        font-family: $font-bold;
        text-transform: uppercase;
    }
    .menu-icon {
        position: relative;
        margin-left: 32px;
        span {
            position: absolute;
            top: 50%;
            left: -28px;
            display: block;
            width: 24px;
            height: 4px;
            margin-top: -2px;
            background-color: $color-1;
            font-size: 0px;
            @include transition(background .25s ease);
            &:before,
            &:after {
                position: absolute;
                left: 0;
                width: 100%;
                height: 100%;
                background: $color-1;
                content: '';
                @include transition(background .25s ease);
            }
            &:before {@include translate2d(0,-200%);}
            &:after {@include translate2d(0,200%);}
        }
        &:hover{
            span {
                background-color: #000;
                &:before,
                &:after {
                    background-color: #000;
                }
            }
        }
    }
