/* ==========================================================================
   #FORMS
   ========================================================================== */

label {
    font-style: italic;
}
input.text, textarea {
    width: 100%;
    border: 1px solid #ddd;
    &:focus {
        border-color: #000;
    }
}
fieldset {
    margin-bottom: 1.5em;
}
form {
    ul {
        margin: 0;
        list-style: none;
        > li {
            margin-bottom: 1.5em;
        }
    }
}
.boutons {
    text-align: left;
}
.reponse_formulaire {
    width: 50%;
    padding: .2em .5em .1em;
    text-align: center;
    font-weight: bold;
    color: #fff;
}
.reponse_formulaire_ok {
    background: $success-color;
}
.reponse_formulaire_erreur {
    background: $alert-color;
}
.erreur_message {
    color: $warning-color;
}

/* 
   recherche
   ========================================================================== */
#formulaire_recherche {
    float: left;
    margin-right: 1em;
}
.search__form {
    position: relative;
    ::-webkit-input-placeholder {text-transform: uppercase; color: $color-2;}
    :-moz-placeholder {text-transform: uppercase; color: $color-2;}
    ::-moz-placeholder {text-transform: uppercase; color: $color-2;/* Firefox 19+ */}
    :-ms-input-placeholder {text-transform: uppercase; color: $color-2;}
}
.search__label {
    position: absolute;
    text-indent: -9999px;
}
.search__field {
    padding: 0;
    font-family: $font-bold;
    .search__form & {
        width: 7em;
        border: none;
    }
}
.search__submit {
    border: 0;
    padding: 0 .3em;
    background: #fff;
    color: lighten($color-2,20%);
    font-family: $font-bold;
    text-transform: uppercase;
    &:hover {
        background: $color-1;
        color: #fff;
    }
}

/* 
   ecrire-auteur
   ========================================================================== */
.formulaire_ecrire_auteur {
    .button {
        background: #fff;
        color: #777;
        border: 1px solid #ddd;
        text-transform: uppercase;
        font-family: $font-bold;
        font-size: rem-calc(14);
        @include transition(all .25s ease);
        &:hover {
            border-color: #000;
            color: #000;
        }
    }
}
.send-message__fieldset {
    border-width: 0;
    padding: 0;
}
.send-message__preview {
    border-bottom: 1px solid #000;
}
.send-message__legend {
    font-weight: normal;
}


