/* ==========================================================================
   #FORMS
   ========================================================================== */

/* 
   recherche
   ========================================================================== */
#formulaire_recherche {
    float: left;
    margin-right: 1em;
}
.search__form {
    position: relative;
    ::-webkit-input-placeholder {text-transform: uppercase; color: $color-2;}
    :-moz-placeholder {text-transform: uppercase; color: $color-2;}
    ::-moz-placeholder {text-transform: uppercase; color: $color-2;/* Firefox 19+ */}
    :-ms-input-placeholder {text-transform: uppercase; color: $color-2;}
}
.search__label {
    position: absolute;
    text-indent: -9999px;
}
.search__field {
    width: 7em;
    padding: 0;
    // border: 1px solid #eee;
    border: 0;
    font-family: $font-bold;
}
.search__submit {
    // border: 1px solid $color-1;
    border: 0;
    // border-left-width: 0;
    padding: 0 .3em;
    // background: $color-1;
    background: #fff;
    color: lighten($color-2,20%);
    font-family: $font-bold;
    text-transform: uppercase;
    &:hover {
        background: $color-1;
        color: #fff;
    }
}


