/* ==========================================================================
   #TYPO
   ========================================================================== */

/* 
   #LINKS
   ========================================================================== */

a {
    text-decoration: none;
    color: $color-link;
    @include transition(all .25s ease);
    &:hover {
        color:$color-link-hover;
    }
    p & {
        border-bottom: 1px dotted $color-link;
    }
}

